/* frontend/src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 100% !important; /* Forces full width */
  text-align: left; /* Resets any default centering */
}